body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    background-color: #6B9080;
}

h1, footer p {
    color: #F6FFF8;
    font-family: "Bungee Hairline", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.calculator-container {
    padding: 0.5rem;
    border: solid 2px #A4C3B2;
    background-color: #EAF4F4;
    border-radius: 25px;
}

.calculator-display {
    border: solid 2px #CCE3DE;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 5px;
    min-height: 24px;
    min-width: 216px;
}

.calculator-btns {
    display: flex;
    flex-direction: row;   
}

.calculator-digits {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}

.calculator-digits button {
    width: 66.66px;
    aspect-ratio: 1/1;
}

.calculator-digits button:last-child{
    border-bottom-left-radius: 15px;
}

.calculator-functions {
    display: flex;
    flex-direction: column;
}

.calculator-functions button {
    aspect-ratio: 2/3;
    width: 30px;
}

.calculator-functions button, .calculator-digits button  {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    border: 1;
}

.calculator-functions button:last-child{
    border-bottom-right-radius: 15px;   
}
